<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoCatalog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="FFmpeg.AutoGen" publicKeyToken="9b7632533a381715" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.1" newVersion="4.3.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VideoCatalog.Properties.Settings>
      <setting name="FFMpegBinPath" serializeAs="String">
        <value>C:\ffmpeg\bin\</value>
      </setting>
      <setting name="PreviewMode" serializeAs="String">
        <value>FFME</value>
      </setting>
      <setting name="GridSizeAlbum" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="GridSizeEnt" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PreviewTime" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PreviewSteps" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PreviewEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CoverMaxSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ListSizeAlbum" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ListSizeEnt" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ListModeAlbum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListModeEnt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CoverAspectRatio" serializeAs="String">
        <value>1.77</value>
      </setting>
      <setting name="SearchStrings" serializeAs="String">
        <value>Google;https://www.google.com/search?q=%s</value>
      </setting>
      <setting name="RecentFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="WinX" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WinY" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WinW" serializeAs="String">
        <value>1600</value>
      </setting>
      <setting name="WinH" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WinState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SidePanelTab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AtrToShowList" serializeAs="String">
        <value>Year</value>
      </setting>
    </VideoCatalog.Properties.Settings>
  </userSettings>
</configuration>
